[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
django = "*"
djangorestframework = "*"
jupyterlab = "*"
beautifulsoup4 = "*"
flake8 = "*"
isort = "*"
celery = "==4.4.0"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
